In [1]:
'''
!sudo apt-get install libpq-dev
!sudo pip install --user psycopg2
!sudo apt-get build-dep python-psycopg2
!pip install psycopg2-binary

'''

'\n!sudo apt-get install libpq-dev\n!sudo pip install --user psycopg2\n!sudo apt-get build-dep python-psycopg2\n!pip install psycopg2-binary\n\n'

In [1]:
import pandas as pd
from collections import defaultdict
import seaborn as sns
import matplotlib.pyplot as plt
import json
import requests


pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 50000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 1000)

In [2]:
import psycopg2

con = psycopg2.connect(database=DB_NAME, user=USERNAME, password=PASSWORD, host=HOST_NAME, port='5434')

print("Database opened successfully")

Database opened successfully

'''
sql = """
        SELECT table_name FROM information_schema.tables WHERE table_schema ='etl'
        limit 10
      """  
'''

sql = """
        SELECT * FROM etl.raw_listings where data_source =3
        limit 10
      """

In [3]:
#(raw_data->'{}'->>'{}')::integer * 100 price_in_cents,
#'listing_data','list_price',

sql = """
        select 
            raw_data->'{}'->>'{}' beds,
            (raw_data->'{}'->>'{}') listing_id,
            (raw_data->'{}'->>'{}') price_in_dollars,
            CASE
             WHEN raw_data->'{}'->>'{}' in ('Single Family Detached', 'RSFR', 'RMOB', 'Single Family Attached', 'Manufactured Home', 'RMFD', 'Site-Built Home', 'RAPT') THEN 'House'
             WHEN raw_data->'{}'->>'{}' in ('RCON', 'Condominium', 'RDUP', 'Duplex', 'Apartment', 'RCOO')  THEN 'Apartment'
             WHEN raw_data->'{}'->>'{}' in ('RCOO')  THEN 'House,Apartment'
             WHEN raw_data->'{}'->>'{}' in ('Townhouse', 'VRES', 'VRES')  THEN 'Townhouse,House,Apartment'
             ELSE  'Others'
            END property_type,
            raw_data->'{}'->>'{}' state,
            raw_data->'{}'->>'{}' city,
            raw_data->'{}'->>'{}' county,
            raw_data->'{}'->>'{}' agent_name,
            raw_data->'{}'->>'{}' agent_phone,
            raw_data->'{}'->>'{}' agent_email,
            raw_data->'{}'->>'{}' agent_office,
            raw_data->'{}'->>'{}' agent_office_phone,
            raw_data->'{}'->>'{}' agent_office_email,
            raw_data->'{}'->>'{}' agent_office_id
        from etl.raw_listings 
        where data_source = '{}'
 """.format(       'basic_data','bedrooms',
                   'listing_data','list_price',
                   'listing_data','list_price',
                   'basic_data','use_code',
                   'basic_data','use_code',
                   'basic_data','use_code',
                   'basic_data','use_code',
                   'basic_data','state',
                   'basic_data','city',
                   'basic_data','county', 
                   'details','ag_name' ,
                   'details','ag_phone' ,
                   'details','ag_email' ,
                   'details','ag_office_name' ,
                   'details','ag_office_phone' ,
                   'details','ag_office_email',
                   'details','ag_office_id',
                    3)

In [4]:
import pandas as pd
df_us = pd.read_sql_query(sql,con=con)

In [5]:
df_us.county.str.len().max()

21.0

In [6]:
df_us.city.unique()

array(['HANALEI', 'WAIANAE', 'KNOXVILLE', ..., 'COSSAYUNA',
       'MC INDOE FALLS', 'CUMMAQUID'], dtype=object)

In [7]:
df_us[df_us.county.str.len()==21].head(4)

       beds listing_id price_in_dollars property_type state              city                 county      agent_name agent_phone                   agent_email                agent_office agent_office_phone             agent_office_email agent_office_id
421299  4    278900     278900           House         VA    COLONIAL HEIGHTS  COLONIAL HEIGHTS CITY  Jenny Maraghy   None        jenny@jennymaraghyteam.com    Joyner Fine Properties      804-270-9440       kathie.warren@joynerfp.com     JOYN05
421302  4    335000     335000           House         VA    COLONIAL HEIGHTS  COLONIAL HEIGHTS CITY  David Patsel    None        david.patsel@napierera.com    Napier Realtors, ERA        804-524-9001       colonialheights@napierera.com  STCR01
596986  2    159900     159900           House         VA    COLONIAL HEIGHTS  COLONIAL HEIGHTS CITY  Samantha Tyler  None        samantha.tyler.trg@gmail.com  Tyler Realty Group          804-526-3030       jtyler@tylerrealtygroup.com    TRIC01
636088  4    219999     219999           House         VA    COLONIAL HEIGHTS  COLONIAL HEIGHTS CITY  Susan Magee     None        susan@SusanmageeHomes.com     Keller Williams Midlothian  804-858-9000       KathyEdwards@kw.com            KLRW01

In [8]:
df_us.shape

(1201451, 14)

In [ ]:
#df_us['external_id']=(df_us['external_id'].str.split('|'))

In [9]:
df_us['state'].value_counts()

FL    113948
CA    113422
TX    80351
NY    64645
IL    60407
MI    54196
GA    44969
NJ    42140
PA    40558
NC    38106
OH    34530
WA    31928
AZ    26643
VA    25674
WI    24754
OR    24174
MN    24015
CO    23242
MD    23100
SC    22494
IN    22205
MO    21897
CT    20197
MA    18830
TN    18300
NV    17626
AL    14591
OK    13982
LA    12166
KY    11389
ME    10259
AR    10185
IA    10102
UT    9952
ID    8098
KS    7551
NM    5757
NH    5679
MS    5560
HI    5362
RI    5037
MT    5024
WV    4793
NE    4454
AK    4297
DE    3636
VT    2863
SD    2407
WY    2177
ND    2031
DC    1748
Name: state, dtype: int64

In [10]:
df_us['property_type'].value_counts()

House                        954060
Apartment                    186488
Townhouse,House,Apartment    40399
Others                       20504
Name: property_type, dtype: int64

In [11]:
df_us['beds'].value_counts()

3      487930
4      323647
2      183061
5      106228
1      32808
0      30189
6      26762
7      5722
8      2706
9      1034
10     474
12     319
11     183
14     75
13     57
16     53
18     51
15     48
20     25
17     17
19     11
21     8
22     4
24     4
30     4
41     4
28     3
23     2
32     2
31     2
44     2
40     2
110    1
25     1
36     1
46     1
55     1
38     1
29     1
42     1
54     1
100    1
26     1
34     1
33     1
35     1
Name: beds, dtype: int64

# PostgreSQL
org=[]
listing=[]
bed=[]
price_in_dollars=[]
property_type=[]
db_state=[]
db_city=[]
db_county=[]

#QUANTARIUM API
agent_id=[]
agent_name=[]
agent_phone=[]
agent_email=[]
agent_office=[]
agent_office_id=[]
agent_office_phone=[]
agent_office_email=[]
agent_remarks=[]


cnt=0

## Test Link
#url="https://qvm.quantarium.com/QDataService/GetListingRecords"
    
## Production Link
url="https://qvmservices.quantarium.com/QDataService/GetListingRecords"
    
## Test Header
#headers = {'content-type':'application/json', 'X-Quantarium-UserId':'NestReady-Test','X-Quantarium-UserKey':'pda-{54gw4E^gv1vNWhP'}
    
## Production Header
headers = {'content-type':'application/json', 'X-Quantarium-UserId':'Nestready','X-Quantarium-UserKey':'PyXmp5&k]IQNxRu9'}
    
for i in range(0, len(df_us)):
    
    listing_id = df_us['listing_id'][i]
    org_id     = df_us["org_id"][i]
    
    # Sample Test
    #listing_id='4069581'
    #org='NJOCBR'
    
    #Test
    #payload = {'id':listing_id, 'org':org,'u':'NestReady-Test','k':'pda-{54gw4E^gv1vNWhP'}
    
    #Production
    payload = {'id':listing_id, 'org':org_id,'u':'Nestready','k':'PyXmp5&k]IQNxRu9'}
    
    
    response = requests.get(url, params= payload)
    
    if response.status_code == 200:
        #print("listings found in API - ",listing_id)
        cnt=cnt+1

        if cnt %100000 == 0:
            print("Total records processed- ",cnt)

        data= json.loads(response.content.decode('utf-8'))
        
        org.append(org_id)
        listing.append(listing_id)
        bed.append(df_us['beds'][i])
        price_in_dollars.append(df_us["price_in_dollars"][i])
        property_type.append(df_us["property_type"][i])
        db_state.append(df_us["state"][i])
        db_city.append(df_us["city"][i])
        db_county.append(df_us["county"][i])
        
        ag_id_f, ag_name_f, ag_phone_f, ag_email_f, ag_office_name_f = False,False,False,False,False
        ag_office_id_f, ag_office_phone_f, ag_office_email_f, ag_remarks_f= False,False,False,False
                
       
        for i in data['details'].keys():
            
            if i == 'ag_id':
                ag_id_f= True
                
            elif i == 'ag_name':
                ag_name_f= True
                
            elif i == 'ag_phone':
                ag_phone_f= True
                
            elif i == 'ag_email':
                ag_email_f= True
                
            elif i == 'ag_office_name':
                ag_office_name_f=True
                
            elif i == 'ag_office_id':
                ag_office_id_f=True
                
            elif i == 'ag_office_phone':
                ag_office_phone_f=True
                
            elif i == 'ag_office_email':
                ag_office_email_f=True
                
            elif i == 'ag_remarks':
                ag_remarks_f=True
                
                
        agent_id.append(data['details']['ag_id']) if ag_id_f else agent_id.append(None)
        
        agent_name.append(data['details']['ag_name']) if ag_name_f else agent_name.append(None)
        
        
        if ag_phone_f:
            agent_phone.append(data['details']['ag_phone']) 
        elif ag_office_phone_f:
            agent_phone.append(data['details']['ag_office_phone']) 
        else:
            agent_phone.append(None)
        
        agent_email.append(data['details']['ag_email']) if ag_email_f else agent_email.append('')
        
        agent_office.append(data['details']['ag_office_name']) if ag_office_name_f else agent_office.append('')
        
        agent_office_id.append(data['details']['ag_office_id']) if ag_office_id_f else agent_office_id.append('')
        
        agent_office_phone.append(data['details']['ag_office_phone']) if ag_office_phone_f else agent_office_phone.append('')
    
        agent_office_email.append(data['details']['ag_office_email']) if ag_office_email_f else agent_office_email.append('')
        
        agent_remarks.append(data['details']['ag_remarks']) if ag_remarks_f else agent_remarks.append('')
        
      
    else:
        print( "Error Returned -  "+ str(response.text)+', status: ',str(response.status_code))

d = {        'agent_id':agent_id,
             'agent_name':agent_name,
             'agent_phone':agent_phone, 
             'agent_email':agent_email, 
             'agent_office':agent_office,
             'agent_office_id':agent_office_id,
             'agent_office_phone':agent_office_phone,
             'agent_office_email':agent_office_email,
             'agent_remarks':agent_remarks,
             'listing_id':listing,
             'org_id':org,
             'beds':bed,
             'price_in_dollars':price_in_dollars,
             'property_type':property_type,
             'county':db_county,
             'city':db_city,
             'state':db_state
            }
        
df=pd.DataFrame(data=d)

df = df[['agent_id','agent_name', 'agent_phone','agent_email','agent_office','agent_office_id','agent_office_phone','agent_office_email','agent_remarks'
        ,'listing_id','org_id','beds','price_in_dollars','property_type','county','city','state']]

In [12]:
(df_us.isna().mean().round(4)*100).sort_values(ascending=False)

agent_office_email    57.09
agent_phone           42.49
agent_email           25.75
agent_office_phone    13.17
agent_name            6.96
agent_office          5.15
agent_office_id       4.20
county                0.04
city                  0.00
state                 0.00
property_type         0.00
price_in_dollars      0.00
listing_id            0.00
beds                  0.00
dtype: float64

In [ ]:
#df.loc[ ((df.property_sub_type != 'Apartment') & (df.property_sub_type != 'Townhouse') & (df.property_sub_type != 'Single Family Detached')), 'property_sub_type'] = 'Others'

In [13]:
df=df_us[df_us.agent_name !='' ]

In [14]:
df=df.dropna(subset=['agent_name','city','county','state']).reset_index (drop=True)

In [15]:
df_us.shape, df.shape

((1201451, 14), (1117351, 14))

In [16]:
# replace null agent_phone with agent_office_phone

df["agent_phone"] = df["agent_phone"].fillna(df.agent_office_phone)

In [17]:
df=df.dropna(subset=['agent_name','city','county','state','agent_phone']).reset_index (drop=True)

In [18]:
(df.isna().mean().round(4)*100).sort_values(ascending=False)

agent_office_email    52.82
agent_email           17.68
agent_office_phone    3.40
agent_office          0.64
agent_office_id       0.00
agent_phone           0.00
agent_name            0.00
county                0.00
city                  0.00
state                 0.00
property_type         0.00
price_in_dollars      0.00
listing_id            0.00
beds                  0.00
dtype: float64

In [19]:
df_us.shape, df.shape

((1201451, 14), (1060236, 14))

In [20]:
# Strip all strings -- Not required in this version
df.agent_name=df.agent_name.str.strip()
df.agent_email=df.agent_email.str.strip()
df.county=df.county.str.strip()
df.state=df.state.str.strip()
df.property_type=df.property_type.str.strip()

In [21]:
# CITY values normalization

# Before 

df['city'][df.city.str.contains('-')].unique()

array(['LAKESIDE-MARBLEHEAD', 'LOCKPORT-TOWN'], dtype=object)

In [22]:
df['city'][df.city.str.match('ST ')].unique()

array(['ST PAUL', 'ST ANTHONY', 'ST CHARLES', 'ST MARIES', 'ST GEORGE',
       'ST AUGUSTINE', 'ST MICHAELS', 'ST PETE BEACH', 'ST PETERSBURG',
       'ST JAMES CITY', 'ST JOHN', 'ST AUGUSTINE BEACH', 'ST CLAIRSVILLE',
       'ST MATTHEWS', 'ST HELENA IS', 'ST LOUIS', 'ST REGIS FLS',
       'ST JOHNSBURY', 'ST JOHNSVILLE', 'ST HELENA', 'ST JOHNS',
       'ST JOSEPH', 'ST FRANCISVILLE', 'ST PETERS'], dtype=object)

In [23]:
df['city'][df.city.str.match('ST ')].unique().shape

(24,)

In [25]:
df['city'][df.city.str.match('SAINT ')].unique()

array(['SAINT JOHNS', 'SAINT HELENA', 'SAINT JOHN', 'SAINT JAMES',
       'SAINT THOMAS', 'SAINT JOSEPH', 'SAINT CHARLES', 'SAINT LOUIS',
       'SAINT JACOB', 'SAINT GERMAIN', 'SAINT PARIS', 'SAINT PAUL',
       'SAINT LOUIS PARK', 'SAINT ANTHONY', 'SAINT GEORGE',
       'SAINT JOHNSVILLE', 'SAINT MARIES', 'SAINT REGIS',
       'SAINT IGNATIUS', 'SAINT PAUL PARK', 'SAINT CROIX FALLS',
       'SAINT BONIFACIUS', 'SAINT CLOUD', 'SAINT JO', 'SAINT DAVID',
       'SAINT CLAIR SHORES', 'SAINT ALBANS', 'SAINT CLAIR', 'SAINT JOE',
       'SAINT PETERSBURG', 'SAINT JAMES CITY', 'SAINT MARYS',
       'SAINT HEDWIG', 'SAINT SIMONS IS', 'SAINT LEO',
       'SAINT CLAIRSVILLE', 'SAINT NAZIANZ', 'SAINT AUGUSTA',
       'SAINT STEPHEN', 'SAINT HELENA ISLAND', 'SAINT PETER',
       'SAINT MICHAEL', 'SAINT FRANCIS', 'SAINT LUCIE WEST',
       'SAINT ANSGAR', 'SAINT CATHARINE', 'SAINT MARYS POINT',
       'SAINT MARTINVILLE', 'SAINT FRANCISVILLE', 'SAINT ROBERT',
       'SAINT ANN', 'SAINT AMANT', 'SAINT BERNARD', 'SAINT PETERS',
       'SAINT GABRIEL', 'SAINT ROSE', 'SAINT MARY', 'SAINT ANNE',
       'SAINT ELMO', 'SAINT PAULS', 'SAINT GEORGE ISLAND', 'SAINT HELEN',
       'SAINT LEONARD', 'SAINT CROIX', 'SAINT INIGOES', 'SAINT MICHAELS',
       'SAINT AUGUSTINE', 'SAINT IGNACE', 'SAINT HUBERTS', 'SAINT AGATHA',
       'SAINT LOUISVILLE', 'SAINT STEPHENS CHURCH', 'SAINT MEINRAD',
       'SAINT LIBORY', 'SAINT MATTHEWS'], dtype=object)

In [391]:
df['city'][df.city.str.match('SAINT ')].unique().shape

(75,)

In [27]:
# CHANGE 
import re
df.city = df.city.str.replace('-',' ')
df.city = df.city.str.lower()
df.city = df.city.map(lambda x: re.sub(r'^(st.|st|$t|$t.)\s', r'saint ',x, flags=re.IGNORECASE))
df.city = df.city.map(lambda x: re.sub(r'\s(st.|st|$t|$t.)$', r' street',x, flags=re.IGNORECASE))
df.city = df.city.map(lambda x: re.sub('[ \t]+', ' ', x))# removes extra space in between 2/3 grams
#df.city = df.city.str.replace(' ','')

In [ ]:
# After

In [28]:
df['city'][df.city.str.contains('-')].unique()

array([], dtype=object)

In [29]:
df['city'][df.city.str.match('st ')].unique()

array([], dtype=object)

In [30]:
df['city'][df.city.str.match('saint ')].unique()

array(['saint johns', 'saint helena', 'saint john', 'saint james',
       'saint thomas', 'saint joseph', 'saint charles', 'saint louis',
       'saint jacob', 'saint germain', 'saint paris', 'saint paul',
       'saint louis park', 'saint anthony', 'saint george',
       'saint maries', 'saint johnsville', 'saint regis',
       'saint ignatius', 'saint paul park', 'saint croix falls',
       'saint bonifacius', 'saint augustine', 'saint cloud', 'saint jo',
       'saint david', 'saint michaels', 'saint clair shores',
       'saint albans', 'saint clair', 'saint pete beach',
       'saint petersburg', 'saint joe', 'saint james city', 'saint marys',
       'saint hedwig', 'saint simons is', 'saint augustine beach',
       'saint leo', 'saint clairsville', 'saint nazianz',
       'saint matthews', 'saint augusta', 'saint stephen',
       'saint helena island', 'saint helena is', 'saint peter',
       'saint michael', 'saint francis', 'saint lucie west',
       'saint ansgar', 'saint catharine', 'saint marys point',
       'saint martinville', 'saint francisville', 'saint robert',
       'saint ann', 'saint genevieve', 'saint amant', 'saint bernard',
       'saint peters', 'saint gabriel', 'saint rose', 'saint mary',
       'saint anne', 'saint elmo', 'saint pauls', 'saint george island',
       'saint helen', 'saint leonard', 'saint croix', 'saint inigoes',
       'saint ignace', 'saint regis fls', 'saint johnsbury',
       'saint huberts', 'saint agatha', 'saint louisville',
       'saint stephens church', 'saint meinrad', 'saint libory'],
      dtype=object)

In [31]:
# COUNTY values normalization

# Before 

df['county'][df.county.str.contains('-')].unique()

array(['MIAMI-DADE'], dtype=object)

In [32]:
df['county'][df.county.str.match('ST ')].unique()

array(['ST JOHNS', 'ST JAMES', 'ST FRANCOIS', 'ST LOUIS', 'ST CHARLES',
       'ST LOUIS CITY', 'ST TAMMANY', 'ST CLAIR', 'ST MARYS',
       'ST LAWRENCE', 'ST LUCIE', 'ST CROIX', 'ST LANDRY', 'ST MARTIN',
       'ST MARY', 'ST BERNARD', 'ST HELENA', 'ST JOHN THE BAPTIST',
       'ST JOSEPH', 'ST FRANCIS'], dtype=object)

In [33]:
# CHANGE 

df['county'][df.county.str.contains('-')].unique()

df.county = df.county.str.replace('-',' ')
df.county = df.county.str.lower()
df.county = df.county.map(lambda x: re.sub(r'^(st.|st|$t|$t.)\s', r'saint ',x, flags=re.IGNORECASE))
df.county = df.county.map(lambda x: re.sub(r'\s(st.|st|$t|$t.)$', r' street',x, flags=re.IGNORECASE))
df.county = df.county.map(lambda x: re.sub('[ \t]+', ' ', x))# removes extra space in between 2/3 grams

In [34]:
#After
df['county'][df.county.str.contains('-')].unique()

array([], dtype=object)

In [35]:
df['county'][df.county.str.match('st ')].unique()

array([], dtype=object)

In [36]:
df.head(5)

  beds listing_id price_in_dollars property_type state       city    county            agent_name   agent_phone                   agent_email                               agent_office agent_office_phone           agent_office_email agent_office_id
0  6    15900000   15900000         House         HI    hanalei    kauai     Neal Norman           808-651-1777  neal@hawaiilife.com           Hawaii Life                                800-667-5028       None                         1267
1  2    150000     150000           Apartment     HI    waianae    honolulu  Chari Badua-Robinson  808-675-8887  charibadua@gmail.com          The Surrealty Group                        808-675-8887       thesurrealtygroup@gmail.com  SRLG
2  3    332500     332500           House         TN    knoxville  knox      Erin Zhou             865-809-8092  erin.zhou2018@gmail.com       Century 21 Legacy                          865-531-2121       None                         2715
3  4    495000     495000           Others        GA    norcross   gwinnett  MARCUS SHIRLEY        404-309-8709  marcus_shirley@bellsouth.net  Virtual Properties Realty.com              770-495-5050       admin@vpradmin.com           VIRT01
4  4    3950000    3950000          House         HI    lihue      kauai     Dana Temme            808-639-2894  dana@oceanfrontsir.com        Oceanfront Sotheby's International Realty  808-826-7211       None                         6109

In [ ]:
'''
import re
for i,value in df2['location_array'].iteritems():
    for j in range(0, len(value)):
        tmp=df2["location_array"][i][j].strip()
        tmp = re.sub(r'^(st.|st|$t|$t.)\s', r'saint ',tmp, flags=re.IGNORECASE) # matches st,st.,$st at the beg to saint
        tmp = re.sub(r'\s(st.|st|$t|$t.)$', r' street',tmp, flags=re.IGNORECASE)# matches st.. in the end to street
        df2['location_array'].at[i][j] = re.sub('[ \t]+', ' ', tmp) # removes extra space in between 2/3 grams
'''

In [37]:
df['location']=df.city + ',' + df.county

In [38]:
df.columns

Index(['beds', 'listing_id', 'price_in_dollars', 'property_type', 'state', 'city', 'county', 'agent_name', 'agent_phone', 'agent_email', 'agent_office', 'agent_office_phone', 'agent_office_email', 'agent_office_id', 'location'], dtype='object')

In [39]:
df['agent_office']=df.agent_office.astype(str)
df['agent_phone']=df.agent_phone.astype(str)
df['price_in_dollars']=df.price_in_dollars.astype(int)
df['beds']=df.beds.astype(int)

In [40]:
df['agent_name'].unique().shape

(380465,)

In [41]:
df[df.agent_name=='ALEXANDRA FRENCH']["price_in_dollars"].min()

249900

In [77]:
df2=df.groupby("agent_name").agg( { 'agent_phone':{'agent_phone':'first'},
                                    'agent_email':{'agent_email':'first'},
                                    'agent_office':{'agent_office':'first'},
                                    'agent_office_id': {'agent_office_id':'first'},
                                    'agent_office_phone':{'agent_office_phone':'first'},
                                    'agent_office_email':{'agent_office_email':'first'},
                                    'beds':{'min_beds':'min','max_beds':'max'}, 
                                    'listing_id':{'properties_count':'count'},
                                    "price_in_dollars": {'min_price':'min','max_price':'max'},
                                    'property_type':{'property_type':','.join},
                                    'location':{'location':','.join},
                                    'state':{'state':','.join},
                                  }
                                ).reset_index()

In [262]:
#df['agent_office_phone']=df['agent_office_phone'].fillna('')

In [78]:
df2.head(4)

              agent_name agent_office_phone       listing_id     beds            agent_phone price_in_dollars                                                                                                                        location         agent_office_email                 agent_office                                            property_type                 agent_email agent_office_id                    state
                         agent_office_phone properties_count max_beds min_beds   agent_phone        min_price max_price                                                                                                              location         agent_office_email                 agent_office                                            property_type                 agent_email agent_office_id                    state
0  "Dg" Doug George       440-282-8002       8                5        2        440-320-6700  34900            192990    lakewood,cuyahoga,amherst,lorain,lorain,lorain,lorain,lorain,elyria,lorain,lorain,lorain,lorain,lorain,lorain,lorain  lizconcar@howardhanna.com  Howard Hanna                 House,House,House,Apartment,Apartment,House,House,House  douggeorge@howardhanna.com  2694            OH,OH,OH,OH,OH,OH,OH,OH
1  "Jc"  George Caprita   330-493-7700       2                3        2        330-499-7863  49900            138500    stow,summit,akron,summit                                                                                              anthonyflex@hotmail.com    Hayes Realty                 House,House                                              jccaprita@gmail.com         C64649          OH,OH
2  "Kiwi"Livnat Lottati   858-277-6173       1                3        3        323-920-5494  925000           925000    los angeles,los angeles                                                                                               None                       Premier Realty Associates    House                                                    kiwi.lottati@gmail.com      X7745301        CA
3  "Pi" Kimberly Stryker  707-928-6900       3                3        1        707-928-6900  135000           189000    clearlake,lake,clearlake,lake,clearlake,lake                                                                          None                       Timothy Toye And Associates  House,House,House                                        pistryker@gmail.com         LCTTA           CA,CA,CA

In [79]:
df2.columns

MultiIndex([(        'agent_name',                   ''),
            ('agent_office_phone', 'agent_office_phone'),
            (        'listing_id',   'properties_count'),
            (              'beds',           'max_beds'),
            (              'beds',           'min_beds'),
            (       'agent_phone',        'agent_phone'),
            (  'price_in_dollars',          'min_price'),
            (  'price_in_dollars',          'max_price'),
            (          'location',           'location'),
            ('agent_office_email', 'agent_office_email'),
            (      'agent_office',       'agent_office'),
            (     'property_type',      'property_type'),
            (       'agent_email',        'agent_email'),
            (   'agent_office_id',    'agent_office_id'),
            (             'state',              'state')],
           )

In [80]:
df2.columns[0][0]

'agent_name'

In [81]:
df2.columns = [df2.columns[0][0],
              df2.columns[1][1],
              df2.columns[2][1],
              df2.columns[3][1],
              df2.columns[4][1],
              df2.columns[5][1],
              df2.columns[6][1],
              df2.columns[7][1],
              df2.columns[8][1],
              df2.columns[9][1],
              df2.columns[10][1],
              df2.columns[11][1],
              df2.columns[12][1],
              df2.columns[13][1],
              df2.columns[14][1]
              ]

#df2.rename(columns={'listing_id':'properties_count'}, inplace=True)

In [ ]:
'''
df2.columns = ['agent_name',
               'property_type',
               'min_price',
               'max_price',
               'agent_email',
               'agent_office_email',
               'properties_count',
               'agent_office_id',
               'location',
               'agent_office',
               'agent_office_phone',
               'agent_phone',
               'state',
               'min_beds',
               'max_beds'
              ]

'''

In [82]:
df2.head(4)

              agent_name agent_office_phone  properties_count  max_beds  min_beds   agent_phone  min_price  max_price                                                                                                              location         agent_office_email                 agent_office                                            property_type                 agent_email agent_office_id                    state
0  "Dg" Doug George       440-282-8002       8                 5         2         440-320-6700  34900      192990     lakewood,cuyahoga,amherst,lorain,lorain,lorain,lorain,lorain,elyria,lorain,lorain,lorain,lorain,lorain,lorain,lorain  lizconcar@howardhanna.com  Howard Hanna                 House,House,House,Apartment,Apartment,House,House,House  douggeorge@howardhanna.com  2694            OH,OH,OH,OH,OH,OH,OH,OH
1  "Jc"  George Caprita   330-493-7700       2                 3         2         330-499-7863  49900      138500     stow,summit,akron,summit                                                                                              anthonyflex@hotmail.com    Hayes Realty                 House,House                                              jccaprita@gmail.com         C64649          OH,OH
2  "Kiwi"Livnat Lottati   858-277-6173       1                 3         3         323-920-5494  925000     925000     los angeles,los angeles                                                                                               None                       Premier Realty Associates    House                                                    kiwi.lottati@gmail.com      X7745301        CA
3  "Pi" Kimberly Stryker  707-928-6900       3                 3         1         707-928-6900  135000     189000     clearlake,lake,clearlake,lake,clearlake,lake                                                                          None                       Timothy Toye And Associates  House,House,House                                        pistryker@gmail.com         LCTTA           CA,CA,CA

In [83]:
df2[df2.agent_name=='ALEXANDRA FRENCH']

           agent_name agent_office_phone  properties_count  max_beds  min_beds   agent_phone  min_price  max_price                                       location           agent_office_email                                        agent_office                  property_type                  agent_email agent_office_id     state
724  ALEXANDRA FRENCH  404-537-5200       3                 3         1         404-310-1164  249900     1350000    atlanta,fulton,atlanta,de kalb,atlanta,fulton  bill.murray@bhhsgeorgia.com  Berkshire Hathaway HomeServices Georgia Properties  Apartment,Apartment,Apartment  alexandra.french@bhhsga.com  BHHS05          GA,GA,GA

In [84]:
unique_locations=[]
unique_property_type=[]

In [85]:
df2['location']

0         lakewood,cuyahoga,amherst,lorain,lorain,lorain,lorain,lorain,elyria,lorain,lorain,lorain,lorain,lorain,lorain,lorain
1         stow,summit,akron,summit
2         los angeles,los angeles
3         clearlake,lake,clearlake,lake,clearlake,lake
4         denver,denver
              ...
380460    philadelphia,philadelphia
380461    sandy springs,fulton
380462    manassas park,manassas park city
380463    haymarket,prince william
380464    fort washington,prince georges,bethesda,montgomery,bethesda,montgomery,temple hills,prince georges
Name: location, Length: 380465, dtype: object

In [86]:
#df2['location']=df2.location.str.replace('-',' ')

#df2['location']=df2.location.str.lower()

df2['location_array']=df2.location.str.split(',')

In [87]:
df2['location_array'][2][0]

'los angeles'

In [88]:
len(df2)

380465

In [33]:
'''
import re
for i in range(0, len(df2)):
    for j in range(0, len(df2['location_array'][i])):
        #df2["location_array"][i][j]=df2["location_array"][i][j].strip()
        tmp=df2["location_array"][i][j].strip()
        tmp = re.sub(r'^(st.|st|$t|$t.)\s', r'saint ',tmp, flags=re.IGNORECASE) # matches st,st.,$st at the beg to saint
        tmp = re.sub(r'\s(st.|st|$t|$t.)$', r' street',tmp, flags=re.IGNORECASE)# matches st.. in the end to street
        df2["location_array"][i][j] = re.sub('[ \t]+', ' ', tmp) # removes extra space in between 2/3 grams
'''

KeyboardInterrupt:

In [34]:
'''
import re
for i,value in df2['location_array'].iteritems():
    for j in range(0, len(value)):
        tmp=df2["location_array"][i][j].strip()
        tmp = re.sub(r'^(st.|st|$t|$t.)\s', r'saint ',tmp, flags=re.IGNORECASE) # matches st,st.,$st at the beg to saint
        tmp = re.sub(r'\s(st.|st|$t|$t.)$', r' street',tmp, flags=re.IGNORECASE)# matches st.. in the end to street
        df2['location_array'].at[i][j] = re.sub('[ \t]+', ' ', tmp) # removes extra space in between 2/3 grams
'''

In [89]:
df2.location_array

0         [lakewood, cuyahoga, amherst, lorain, lorain, lorain, lorain, lorain, elyria, lorain, lorain, lorain, lorain, lorain, lorain, lorain]
1         [stow, summit, akron, summit]
2         [los angeles, los angeles]
3         [clearlake, lake, clearlake, lake, clearlake, lake]
4         [denver, denver]
                ...
380460    [philadelphia, philadelphia]
380461    [sandy springs, fulton]
380462    [manassas park, manassas park city]
380463    [haymarket, prince william]
380464    [fort washington, prince georges, bethesda, montgomery, bethesda, montgomery, temple hills, prince georges]
Name: location_array, Length: 380465, dtype: object

In [90]:
for i in df2.location_array:
    unique_locations.append(set(list(i)))
df2['location_array_set']= unique_locations

In [91]:
df2['location_array_set']

0         {amherst, lakewood, cuyahoga, elyria, lorain}
1         {summit, stow, akron}
2         {los angeles}
3         {lake, clearlake}
4         {denver}
            ...
380460    {philadelphia}
380461    {sandy springs, fulton}
380462    {manassas park city, manassas park}
380463    {prince william, haymarket}
380464    {fort washington, prince georges, bethesda, montgomery, temple hills}
Name: location_array_set, Length: 380465, dtype: object

In [92]:
len(unique_locations)

380465

In [93]:
df2['property_type']=df2.property_type.str.lower()
df2['property_type_array']=df2.property_type.str.split(',')

In [94]:
for i in df2.property_type_array:
    unique_property_type.append(set(list(i)))
df2['property_type_set']= unique_property_type

In [95]:
df2['state']=df2.state.str.upper()
df2['state_array']=df2.state.str.split(',')

In [96]:
unique_state=[]
for i in df2.state_array:
    unique_state.append(set(list(i)))
df2['state_set']= unique_state

In [97]:
df2.columns

Index(['agent_name', 'agent_office_phone', 'properties_count', 'max_beds', 'min_beds', 'agent_phone', 'min_price', 'max_price', 'location', 'agent_office_email', 'agent_office', 'property_type', 'agent_email', 'agent_office_id', 'state', 'location_array', 'location_array_set', 'property_type_array', 'property_type_set', 'state_array', 'state_set'], dtype='object')

In [98]:
len(df2['state'][1])

5

In [86]:
# testing
'''
for i in range(0, len(df2)):
    if len(df2['state'][i]) > 2:
        print(df2['state'][i])
        print(df2['location_array'][i])
        print(df2['unique_state_set'][i])
        print(df2['location_array_set'][i])
        print(i,j)
        break;
'''

OH,OH,OH,OH,OH,OH,OH
['lakewood', 'cuyahoga', 'amherst', 'lorain', 'lorain', 'lorain', 'elyria', 'lorain', 'lorain', 'lorain', 'lorain', 'lorain', 'lorain', 'lorain']
{'OH'}
{'elyria', 'lorain', 'cuyahoga', 'amherst', 'lakewood'}
0 7

In [99]:
df2[df2.agent_name== 'ALAN J BRIDEVAUX']

           agent_name agent_office_phone  properties_count  max_beds  min_beds   agent_phone  min_price  max_price                                       location  agent_office_email               agent_office      property_type         agent_email agent_office_id     state                                        location_array                              location_array_set    property_type_array property_type_set   state_array state_set
470  ALAN J BRIDEVAUX  601-249-3400       3                 4         3         601-249-8436  95000      385000     kentwood,tangipahoa,mccomb,pike,magnolia,pike  abridevaux@aol.com  Doug Rushing Realty, Inc.  house,house,house  abridevaux@aol.com  RUSH02          LA,MS,MS  [kentwood, tangipahoa, mccomb, pike, magnolia, pike]  {mccomb, pike, magnolia, kentwood, tangipahoa}  [house, house, house]  {house}           [LA, MS, MS]  {MS, LA}

In [100]:
#df_copy[df_copy.agent_id == 'RLA' ]


df_us[df_us.agent_name.str.strip() == 'ALAN J BRIDEVAUX' ]

       beds listing_id price_in_dollars property_type state      city      county        agent_name   agent_phone         agent_email               agent_office agent_office_phone  agent_office_email agent_office_id
350315  4    95000      95000            House         LA    KENTWOOD  TANGIPAHOA  ALAN J BRIDEVAUX  601-249-8436  abridevaux@aol.com  Doug Rushing Realty, Inc.  601-249-3400       abridevaux@aol.com  RUSH02
350376  3    385000     385000           House         MS    MCCOMB    PIKE        ALAN J BRIDEVAUX  601-249-8436  abridevaux@aol.com  Doug Rushing Realty, Inc.  601-249-3400       abridevaux@aol.com  RUSH02
354072  4    189000     189000           House         MS    MAGNOLIA  PIKE        ALAN J BRIDEVAUX  601-249-8436  abridevaux@aol.com  Doug Rushing Realty, Inc.  601-249-3400       abridevaux@aol.com  RUSH02

In [101]:
df2.shape

(380465, 21)

In [102]:
df2.properties_count.value_counts().head(10)

1     184418
2     79787
3     39872
4     23297
5     14223
6     9548
7     6543
8     4642
9     3502
10    2684
Name: properties_count, dtype: int64

In [218]:
df2.shape

(380465, 22)

In [103]:
df2.location_array[4]

['denver', 'denver']

In [104]:
df2.location_array_set[4]

{'denver'}

In [ ]:
## STUCK HERE

In [105]:

'''
# get unique cities and counties overall
unique_locations_overall=[]
for i in range(0, len(df2)):
    for j in range(0, len(df2.location_array[i])):
        unique_locations_overall.append(df2.location_array[i][j])
'''
unique_locations_overall=[]

for i,value in df2['location_array'].iteritems():
    for j in range(0, len(value)):
        unique_locations_overall.append(value[j])

'\n# get unique cities and counties overall\nunique_locations_overall=[]\nfor i in range(0, len(df2)):\n    for j in range(0, len(df2.location_array[i])):\n        unique_locations_overall.append(df2.location_array[i][j])\n'

In [106]:
len(unique_locations_overall)

2120472

In [107]:
unique_locations_overall = set(unique_locations_overall)

In [108]:
len(unique_locations_overall)

14568

In [109]:
#remove all agents with property count less than 3

df2_property_count_drop = df2[df2.properties_count <3 ].reset_index()

df2_property_count_keep = df2[df2.properties_count >2 ].reset_index()

In [110]:
df2.shape, df2_property_count_drop.shape, df2_property_count_keep.shape

((380465, 21), (264205, 22), (116260, 22))

In [111]:
# get unique cities and counties from df2_property_count_keep

'''
# get unique cities and counties from df2_property_count_keep
unique_locations_count_1_plus=[]

for i in range(0, len(df2_property_count_1_plus)):
    for j in range(0, len(df2_property_count_1_plus.location_array[i])):
        unique_locations_count_1_plus.append(df2_property_count_1_plus.location_array[i][j])
'''

unique_locations_overall_keep=[]

for i,value in df2_property_count_keep['location_array'].iteritems():
    for j in range(0, len(value)):
        unique_locations_overall_keep.append(value[j])

'\n# get unique cities and counties from df2_property_count_keep\nunique_locations_count_1_plus=[]\n\nfor i in range(0, len(df2_property_count_1_plus)):\n    for j in range(0, len(df2_property_count_1_plus.location_array[i])):\n        unique_locations_count_1_plus.append(df2_property_count_1_plus.location_array[i][j])\n'

In [112]:
unique_locations_overall_keep=set(unique_locations_overall_keep)

In [113]:
len(unique_locations_overall_keep)

13907

In [114]:
missing_locations = unique_locations_overall - unique_locations_overall_keep

In [115]:
len(missing_locations)

661

In [116]:


'''
missing_location_agents=[]

tmp=[]

for i in range(0,len(df2_property_count_1)):
    for j in range(0, len(df2_property_count_1["location_array"][i])):
        if ( (df2_property_count_1["location_array"][i][j] in list(missing_locations)) & (df2_property_count_1["location_array"][i][j] not in tmp)):
            missing_location_agents.append(df2_property_count_1["agent_name"][i])
            tmp.append(df2_property_count_1["location_array"][i][j])
            #print(dropped_agents[{"agentID","locations"}][i])
            
'''   

missing_location_agents=[]
tmp=[]

for i,value in df2_property_count_drop['location_array'].iteritems():
    for j in range(0, len(value)):
        if ( (value[j] in list(missing_locations)) &  (value[j] not in tmp) ):
            missing_location_agents.append(df2_property_count_drop["agent_name"][i])
            tmp.append(value[j])

In [117]:
len(set(tmp))

661

In [118]:
len(missing_location_agents)

661

In [119]:
len(set(missing_location_agents))

646

In [120]:
missing_location_agents=set(missing_location_agents)

In [121]:
agents_to_be_added=pd.DataFrame(missing_location_agents,columns =['agent_name'])

In [122]:
agents_to_be_added.head(5)

             agent_name
0  BUCK HOUSTON
1  Brandon Sale Team
2  DUSTIN COWELL
3  Anna Olson
4  Johnny Barenchik Iii

In [123]:
df2_property_count_keep.shape, df2_property_count_drop.shape, agents_to_be_added.shape

((116260, 22), (264205, 22), (646, 1))

In [124]:
ddd = pd.merge(df2_property_count_drop, agents_to_be_added, on='agent_name')

In [125]:
ddd.shape

(646, 22)

In [126]:
final_agents=pd.concat([df2_property_count_keep,ddd]).reset_index()

In [127]:
final_agents.shape

(116906, 23)

In [128]:
# VALIDATION

# get unique cities and counties from df2_property_count_1_plus
validation=[]

for i,value in final_agents['location_array'].iteritems():
    for j in range(0, len(value)):
        validation.append(value[j])

In [129]:
len(validation)

1434358

In [130]:
validation= set(validation)

In [131]:
len(validation)

14568

In [132]:
len(unique_locations_overall)

14568

In [134]:
final_agents['areaServed'] = final_agents['location_array_set'].apply(','.join)
final_agents['property_type'] = final_agents['property_type_set'].apply(','.join)
final_agents['state'] = final_agents['state_set'].apply(','.join)

In [135]:
final_agents.head(2)

   level_0  index             agent_name agent_office_phone  properties_count  max_beds  min_beds   agent_phone  min_price  max_price                                                                                                              location         agent_office_email                 agent_office    property_type                 agent_email agent_office_id state                                                                                                                         location_array                             location_array_set                                               property_type_array   property_type_set                       state_array state_set                               areaServed
0  0        0      "Dg" Doug George       440-282-8002       8                 5         2         440-320-6700  34900      192990     lakewood,cuyahoga,amherst,lorain,lorain,lorain,lorain,lorain,elyria,lorain,lorain,lorain,lorain,lorain,lorain,lorain  lizconcar@howardhanna.com  Howard Hanna                 house,apartment  douggeorge@howardhanna.com  2694            OH    [lakewood, cuyahoga, amherst, lorain, lorain, lorain, lorain, lorain, elyria, lorain, lorain, lorain, lorain, lorain, lorain, lorain]  {amherst, lakewood, cuyahoga, elyria, lorain}  [house, house, house, apartment, apartment, house, house, house]  {house, apartment}  [OH, OH, OH, OH, OH, OH, OH, OH]  {OH}      amherst,lakewood,cuyahoga,elyria,lorain
1  1        3      "Pi" Kimberly Stryker  707-928-6900       3                 3         1         707-928-6900  135000     189000     clearlake,lake,clearlake,lake,clearlake,lake                                                                          None                       Timothy Toye And Associates  house            pistryker@gmail.com         LCTTA           CA    [clearlake, lake, clearlake, lake, clearlake, lake]                                                                                    {lake, clearlake}                              [house, house, house]                                             {house}             [CA, CA, CA]                      {CA}      lake,clearlake

In [136]:

df3 = final_agents[['agent_name', 'agent_phone','agent_email','agent_office','agent_office_id','agent_office_phone','agent_office_email','properties_count','min_beds','max_beds','min_price','max_price'
           ,'property_type','areaServed','state']]

In [137]:
df3.to_csv('gs://nest-agents/quantarium_agents.csv')

<b>##  END OF LOADING

In [ ]:
## Pull locations from postgre location table to see what locations (cities, counties) are missing.

In [138]:
sql1 = """ SELECT level, name FROM public.locations """

In [139]:
import pandas as pd
df_loc = pd.read_sql_query(sql1,con=con)

In [142]:
df_loc.head()

                        level       name
0  New::Locations::PostalCode  18517
1  New::Locations::City        Wolfcreek
2  New::Locations::PostalCode  L6J7Z3
3  New::Locations::City        Hudson
4  New::Locations::PostalCode  N1E7E7

In [147]:
#df_cities = df_loc[df_loc.level == 'New::Locations::City' ]

In [207]:
df_cities = df_loc[df_loc.level.str.contains('City')]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [208]:
df_cities.columns

Index(['level', 'name'], dtype='object')

In [186]:
df_cities['name'].unique().shape

(17195,)

In [211]:
#df_counties = df_loc[df_loc.level == 'Locations::County' ]
df_counties = df_loc[df_loc.level.str.contains('County')]
df_counties['name'] = df_counties['name'].str.replace(' ','')

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [212]:
df_counties['name'].unique().shape

(1925,)

In [213]:
print(df_cities['name'].unique().shape[0] + df_counties['name'].unique().shape[0])

19118

In [214]:

unique_cities  = df_cities['name'].unique()

unique_counties = df_counties['name'].unique()

In [215]:
type(unique_cities)

numpy.ndarray

In [216]:
import numpy as np
unique_locs =np.concatenate((unique_cities, unique_counties))

In [217]:
unique_locs[5]

'BonAqua'

In [218]:
len(unique_locs)

19118

In [219]:
len(unique_locations_overall)

14568

In [224]:
type(unique_locations_overall)

set

In [220]:
unique_locs = set(unique_locs)

In [221]:
type(unique_locations_overall), type(unique_locs)

(set, set)

In [222]:
missing_locs =  unique_locs - unique_locations_overall

In [223]:
len(missing_locs)

17837

In [ ]:
'''
import base64
from PIL import Image
from io import BytesIO

with open("image.jpg", "rb") as image_file:
    data = base64.b64encode(image_file.read())

im = Image.open(BytesIO(base64.b64decode(data)))
im.save('image1.png', 'PNG')

!curl -X POST -H "Content-Type: application/json" https://automl.googleapis.com/v1beta1/projects/314307691106/locations/us-central1/models/ICN1853288421267603456:predict -d @request.json


'''